*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.settings/
.project
.classpath
.checkstyle

# IntelliJ #
*.iml
.idea/*

# Mac #
.DS_Store

# Maven #
target/
dependency-reduced-pom.xml

# Gradle #
.gradle
**/build/**
out/
gradlew*
gradle/**

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Serverless Framework
.serverless
